<h1>messages</h1>

<p><%= link_to '/topics/1', '/topics/1' %></p>
<p><%= link_to '/topics/2', '/topics/2' %></p>
<p><%= link_to '/topics/3', '/topics/3' %></p>

<p><%= link_to 'home', home_path %></p>
